Wmis/DixService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:x1="http://service.dataxmldistribution.argos.cls.fr/types" xmlns:tns="http://service.dataxmldistribution.argos.cls.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DixService" targetNamespace="http://service.dataxmldistribution.argos.cls.fr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://service.dataxmldistribution.argos.cls.fr/types" elementFormDefault="qualified" targetNamespace="http://service.dataxmldistribution.argos.cls.fr/types">
      <xs:complexType name="periodType">
        <xs:sequence>
          <xs:element name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="referenceDateType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BEST_MSG_DATE" />
          <xs:enumeration value="MODIFICATION_DATE" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="argDistribType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="A" />
          <xs:enumeration value="O" />
          <xs:enumeration value="B" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="baseRequestType">
        <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:choice>
            <xs:element name="programNumber" type="xs:string" />
            <xs:element name="platformId" type="xs:string" />
          </xs:choice>
          <xs:element minOccurs="0" name="nbPassByPtt" type="xs:int" />
          <xs:choice>
            <xs:element name="period" type="tns:periodType" />
            <xs:element name="nbDaysFromNow" type="xs:int" />
          </xs:choice>
          <xs:element minOccurs="0" name="referenceDate" type="tns:referenceDateType" />
          <xs:element minOccurs="0" name="locClass" type="xs:string" />
          <xs:element minOccurs="0" name="geographicArea" type="xs:string" />
          <xs:element minOccurs="0" name="compression" type="xs:int" />
          <xs:element minOccurs="0" name="mostRecentPassages" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="xmlRequestType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="displayLocation" type="xs:boolean" />
              <xs:element minOccurs="0" name="displayDiagnostic" type="xs:boolean" />
              <xs:element minOccurs="0" name="displayMessage" type="xs:boolean" />
              <xs:element minOccurs="0" name="displayCollect" type="xs:boolean" />
              <xs:element minOccurs="0" name="displayRawData" type="xs:boolean" />
              <xs:element minOccurs="0" name="displaySensor" type="xs:boolean" />
              <xs:element minOccurs="0" name="argDistrib" type="tns:argDistribType" />
              <xs:element minOccurs="0" name="displayImageLocation" type="xs:boolean" />
              <xs:element minOccurs="0" name="displayHexId" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="csvRequestType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:xmlRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="showHeader" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kmlRequestType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseRequestType">
            <xs:sequence>
              <xs:element minOccurs="0" name="displayDescription" type="xs:boolean" />
              <xs:element minOccurs="0" name="displayDiagnostic" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xsdRequestType">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="platformListRequestType">
        <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="observationRequestType">
        <xs:sequence>
          <xs:element name="username" type="xs:string" />
          <xs:element name="password" type="xs:string" />
          <xs:choice>
            <xs:element name="programNumber" type="xs:string" />
            <xs:element name="platformId" type="xs:string" />
            <xs:element name="wmo" type="xs:string" />
          </xs:choice>
          <xs:element minOccurs="0" name="nbMaxObs" type="xs:int" />
          <xs:choice>
            <xs:element name="period" type="tns:periodType" />
            <xs:element name="nbDaysFromNow" type="xs:int" />
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stringResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="streamResponseType">
        <xs:sequence>
          <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DixException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="csvRequest" type="tns:csvRequestType" />
      <xs:element name="csvResponse" type="tns:stringResponseType" />
      <xs:element name="kmlRequest" type="tns:kmlRequestType" />
      <xs:element name="kmlResponse" type="tns:stringResponseType" />
      <xs:element name="streamXmlRequest" type="tns:xmlRequestType" />
      <xs:element name="streamXmlResponse" type="tns:streamResponseType" />
      <xs:element name="xmlRequest" type="tns:xmlRequestType" />
      <xs:element name="xmlResponse" type="tns:stringResponseType" />
      <xs:element name="xsdRequest" type="tns:xsdRequestType" />
      <xs:element name="xsdResponse" type="tns:stringResponseType" />
      <xs:element name="platformListRequest" type="tns:platformListRequestType" />
      <xs:element name="platformListResponse" type="tns:stringResponseType" />
      <xs:element name="observationRequest" type="tns:observationRequestType" />
      <xs:element name="observationResponse" type="tns:stringResponseType" />
      <xs:element name="DixException" type="tns:DixException" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="csvRequest">
    <wsdl:part name="params" element="x1:csvRequest" />
  </wsdl:message>
  <wsdl:message name="xsdResponse">
    <wsdl:part name="params" element="x1:xsdResponse" />
  </wsdl:message>
  <wsdl:message name="kmlResponse">
    <wsdl:part name="params" element="x1:kmlResponse" />
  </wsdl:message>
  <wsdl:message name="platformListResponse">
    <wsdl:part name="params" element="x1:platformListResponse" />
  </wsdl:message>
  <wsdl:message name="kmlRequest">
    <wsdl:part name="params" element="x1:kmlRequest" />
  </wsdl:message>
  <wsdl:message name="platformListRequest">
    <wsdl:part name="params" element="x1:platformListRequest" />
  </wsdl:message>
  <wsdl:message name="observationResponse">
    <wsdl:part name="params" element="x1:observationResponse" />
  </wsdl:message>
  <wsdl:message name="DixException">
    <wsdl:part name="DixException" element="x1:DixException" />
  </wsdl:message>
  <wsdl:message name="xsdRequest">
    <wsdl:part name="params" element="x1:xsdRequest" />
  </wsdl:message>
  <wsdl:message name="observationRequest">
    <wsdl:part name="params" element="x1:observationRequest" />
  </wsdl:message>
  <wsdl:message name="streamXmlRequest">
    <wsdl:part name="params" element="x1:streamXmlRequest" />
  </wsdl:message>
  <wsdl:message name="xmlResponse">
    <wsdl:part name="params" element="x1:xmlResponse" />
  </wsdl:message>
  <wsdl:message name="xmlRequest">
    <wsdl:part name="params" element="x1:xmlRequest" />
  </wsdl:message>
  <wsdl:message name="csvResponse">
    <wsdl:part name="params" element="x1:csvResponse" />
  </wsdl:message>
  <wsdl:message name="streamXmlResponse">
    <wsdl:part name="params" element="x1:streamXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="DixServicePortType">
    <wsdl:operation name="getCsv">
      <wsdl:input message="tns:csvRequest" />
      <wsdl:output message="tns:csvResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getStreamXml">
      <wsdl:input message="tns:streamXmlRequest" />
      <wsdl:output message="tns:streamXmlResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getKml">
      <wsdl:input message="tns:kmlRequest" />
      <wsdl:output message="tns:kmlResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getXml">
      <wsdl:input message="tns:xmlRequest" />
      <wsdl:output message="tns:xmlResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getXsd">
      <wsdl:input message="tns:xsdRequest" />
      <wsdl:output message="tns:xsdResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getPlatformList">
      <wsdl:input message="tns:platformListRequest" />
      <wsdl:output message="tns:platformListResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getObsCsv">
      <wsdl:input message="tns:observationRequest" />
      <wsdl:output message="tns:observationResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
    <wsdl:operation name="getObsXml">
      <wsdl:input message="tns:observationRequest" />
      <wsdl:output message="tns:observationResponse" />
      <wsdl:fault name="DixException" message="tns:DixException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DixServiceSoapBinding" type="tns:DixServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCsv">
      <soap12:operation soapAction="Get Argos data on CSV format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStreamXml">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getKml">
      <soap12:operation soapAction="Get Argos data on KML format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getXml">
      <soap12:operation soapAction="Get Argos data on XML format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getXsd">
      <soap12:operation soapAction="Get the XSD for the XML format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPlatformList">
      <soap12:operation soapAction="Get the list of platforms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObsCsv">
      <soap12:operation soapAction="Get the observations on CSV Format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getObsXml">
      <soap12:operation soapAction="Get the observations on XML Format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DixException">
        <soap12:fault use="literal" name="DixException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DixService">
    <wsdl:port name="DixServicePort" binding="tns:DixServiceSoapBinding">
      <soap12:address location="http://ws-argos.cls.fr/argosDws/services/DixService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>